<!-- <div *ngFor="let stories of finaldatas">
    <div class="cardname">
        {{ stories.storytitle }}
    </div>
    <div class="carddetails">
        <div class="more">
            <a [routerLink]="['/edit', stories._id]" class="text-primary">Edit</a>
            <a [routerLink]="['/readstory', stories._id]" class="text-success px-3">Read full story</a>
            <a (click)="deletestories(stories._id)" class="text-danger">Delete</a>
        </div>
        <hr class="w-60">
    </div>
</div> -->

<div class="cardlayout" id="cardlayout" *ngFor="let stories of finaldatas">
    <div class="wrapper" id="wrapper">
        <img [defaultImage]="demoimage" [lazyLoad]="stories.avatar" class="image--cover">
    </div>
    <div class="carddetails">
        <p class="story-title">{{stories.storytitle}}</p>

        <hr class="w-60">

        <!-- <div class="morebout" id="about">
            {{ stories.explainstory}}
        </div> -->
    </div>
    <div class="carddetails">
        <div class="more">
            <a [routerLink]="['/edit', stories._id]" class="text-primary">Edit</a>
            <a [routerLink]="['/readstory', stories._id]" class="text-success px-3">Read full story</a>
            <a (click)="deletestories(stories._id)" class="text-danger">Delete</a>
        </div>
        <hr class="w-60">
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>