<div class="scrollmenu">
  <a href="#search">Pocket Dairy</a>
  <!-- <a href="#about">Open-Dairy</a>
  <a href="#account">Nath</a> -->
</div>
<div class="bottommenu">
  <a routerLink="open">Add to Dairy</a>
  <a routerLink="creatediary">OpenDairy</a>
  <a routerLink="category">Category</a>
  <a routerLink="createaccount">create account</a>
</div>
<div class="topnav">
  <a href="#home">Pocket Diary</a>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a> -->
  <div class="topnav-right">
    <a routerLink="open">Add to Dairy</a>
    <a routerLink="creatediary">OpenDairy</a>
    <a routerLink="category">Category</a>
    <a routerLink="createaccount">create account</a>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>