<div class="scrollmenu">
  <a href="#search">Pocket Dairy</a>
  <a class="text-primary px-3" *ngIf="userdetails" (click)="logout()">Logout</a>
  <a class="text-primary px-3" *ngIf="!userdetails" routerLink="login">login</a>
</div>
<div class="bottommenu">
  <a routerLink="open">Add to Dairy</a>
  <a routerLink="creatediary">OpenDairy</a>
  <a routerLink="category">Category</a>
  <a routerLink="book">book</a>
  <!-- <a routerLink="createaccount">create account</a>
  <a routerLink="login">login</a> -->
</div>
<div class="topnav">
  <a href="#home">Pocket Diary</a>
  <div class="topnav-right">
    <a routerLink="open">Add to Dairy</a>
    <a routerLink="creatediary">OpenDairy</a>
    <a routerLink="category">Category</a>
    <a routerLink="book">book</a>
    <!-- <a routerLink="createaccount">create account</a>
    <a routerLink="login">login</a> -->
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>