@media screen and (min-width: 769px) {
    .loginmiddle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        display: table;
        color: black;
    }

    .content {
        padding: 20px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .loginmiddle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        display: table;
        color: black;
    }

    .content {
        padding: 20px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .w-25 {
        width: 90% !important;
    }
}