@media screen and (min-width: 769px) {
    .cardlayout {
        width: 250px;
        margin-top: 2rem;
    }

    .w-50 {
        width: 100% !important;
    }

    .card-body {
        border: none;
    }

    .alert-danger {
        background: none;
        border: none;
        color: crimson;
    }
}

@media screen and (max-width:768px) {
    .cardlayout {
        width: 250px;
        margin-top: 2rem;
    }

    .w-50 {
        width: 100% !important;
    }

    .card-body {
        border: none;
    }

    .alert-danger {
        background: none;
        border: none;
        color: crimson;
    }
}